<h2>Users</h2>
<button routerLink="/users/add">Add User</button>
<table *ngIf="users.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Accounts</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td><a [routerLink]="['/accounts']" [queryParams]="{ userId: user.id }">{{ user.accounts?.length || 0 }}</a></td>
      <td>
        <button [routerLink]="[user.id]">Details</button>
        <button [routerLink]="[user.id, 'edit']">Edit</button>
        <button (click)="deleteUser(user.id!)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<p *ngIf="!users.length">No users found.</p>
<p *ngIf="loading">Loading...</p>
<p *ngIf="error">{{ error }}</p>
